.split {
  height: 95%;
  position: fixed;
  top: 20px;
  padding-top: 20px;
}

.left {
  width: 50%;
  left: 0;
}

.right {
  width: 48%;
  right: 0;
  border: 1px solid gray;
  padding: 4px;
  overflow-x: hidden;
}